@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  background: #eb5757; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #000000,
    #eb4848d5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #000000,
    #eb5757
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  width: 1660px;
  margin: 0 auto;
  background-color: white;
  border: 4px solid black;
}

header {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(226, 37, 37, 1) 0%,
    rgba(211, 49, 49, 1) 82.8%
  );
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px solid black;
}

nav {
  display: flex;
  font-weight: bold;
}

nav h1 {
  text-decoration: underline;
}

nav a {
  color: black;
  text-decoration: none;
}

nav ul {
  display: flex;
  font-size: 19px;
}

nav li {
  list-style: none;
  padding: 2em;
}

#nav_left {
  margin-left: 2em;
}
#nav_mid img {
  width: 100px;
  height: 80px;
  margin-right: 0.8em;
  border-radius: 50px;
}

#nav_mid {
  align-items: center;
  font-size: 1.5em;
}

#nav_right {
  margin-right: 2em;
}

/* Main Section */

main {
  display: flex;
  background-image: linear-gradient(
    178.2deg,
    rgba(118, 8, 23, 1) 10.9%,
    rgba(158, 12, 33, 1) 62.6%
  );
}

section p {
  font-size: 20px;
  padding: 1em 5em;
  line-height: 1.8em;
  color: white;
}

section h1 {
  text-align: center;
  padding-top: 1.3em;
  font-size: 36px;
  color: white;
}

section img {
  width: 500px;
  height: fit-content;
  border: 4px solid black;
}

.main-div {
  display: flex;
  margin-left: 5em;
}

#quote {
  text-align: center;
  padding: 1em 2em;
  background-color: rgba(0, 0, 0, 0.219);
  border-radius: 8px;
  margin-top: 2.2em;
  margin-bottom: 2em;
  font-family: "Parisienne", cursive;
  font-size: 22px;
}

aside {
  padding: 4em 4em 3em;
  border-left: 2px solid black;
}

aside h2 {
  font-size: 30px;
  text-align: center;
  color: white;
}

aside a {
  color: white;
  font-size: 20px;
}

aside li {
  margin: 3em 0 2em;
  list-style: none;
  text-align: center;
}

.yonko-btn {
  /* padding: 0.8em 1em;
  border-radius: 10px;
  width: 120px; */
  min-width: 100%;
  background-color: black;
  background-image: linear-gradient(
    to right,
    #000000 0%,
    #e74c3c 51%,
    #000000 100%
  );
  margin: 0 auto;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  display: block;
}

.yonko-btn a {
  text-decoration: none;
}

.yonko-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 0.8em;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(226, 37, 37, 1) 0%,
    rgba(211, 49, 49, 1) 82.8%
  );
  border-top: 3px solid black;
}

@media screen and (min-width: 768px) and (max-width: 1480px) {
  * {
    font-size: 90%;
  }

  header {
    align-items: center;
    justify-content: space-evenly;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  body {
    min-width: 480px;
  }

  html {
    min-width: 480px;
  }

  .left-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section img {
    max-width: 100%;
    height: auto;
  }

  #quote {
    padding: 0;
  }

  aside {
    border-left: none;
  }

  .main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .main-div p {
    padding: 1em 2em;
  }

  h1 {
    text-decoration: underline;
  }

  h2 {
    margin-bottom: 0.5em;
  }

  .yonko-btn {
    min-width: 460px;
    margin-bottom: 10em;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  * {
    font-size: 90%;
  }

  header {
    align-items: center;
    justify-content: space-evenly;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  body {
    max-width: 480px;
  }

  html {
    min-width: 480px;
  }

  #nav_mid {
    display: none;
  }

  .left-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section img {
    max-width: 100%;
    height: auto;
  }

  #quote {
    padding: 0;
  }

  aside {
    border-left: none;
  }

  .main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .main-div p {
    padding: 1em 2em;
  }

  h1 {
    text-decoration: underline;
  }

  h2 {
    margin-bottom: 0.5em;
  }

  .yonko-btn {
    min-width: 50%;
    margin-bottom: 10em;
  }
}

@media screen and (max-width: 479px) {
  * {
    font-size: 90%;
  }

  header {
    align-items: center;
    justify-content: space-evenly;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  body {
    max-width: 479px;
  }

  html {
    min-width: 479px;
  }

  #nav_mid {
    display: none;
  }

  .left-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section img {
    max-width: 100%;
    height: auto;
  }

  #quote {
    padding: 0;
  }

  aside {
    border-left: none;
  }

  .main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .main-div p {
    padding: 1em 2em;
  }

  h1 {
    text-decoration: underline;
  }

  h2 {
    margin-bottom: 0.5em;
  }

  .yonko-btn {
    min-width: 50%;
    margin-bottom: 10em;
  }
}
